.R/
.Rhistory
.RData
.Rproj.user/
.DS_Store
/oliver/
/notes/
output/*.md
output/heterogeneity_bootstrap_*.csv
output/*.rds
data/derived/*.rds
ms/*.aux
ms/*.bbl
ms/*.blg
ms/*.log
ms/*.out
ms/*.toc
ms/*.fls
ms/*.fdb_latexmk
ms/*.synctex.gz
ms/*.knit.md
ms/*.tex
ms/*.xdv
